.transaction-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.transaction-list-header > button {
    width: 150px;
    height: 50px;
}

.interactive-elements-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.interactive-elements-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    height: 40px;
    flex: 1;
}

.animate {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}